mixin votes

  p Congratulations! Someone is ordering you pizza! Please fillout the information below so you get exactly what you want.

  h3 How many slices are you going to eat?
  input#urlId(type='hidden', name='urlId')
  .slices
    label
      input(type='radio', name='slices', value='1')
      | 1 slice
    label
      input(type='radio', name='slices', value='2')
      | 2 slices
    label
      input(type='radio', name='slices', value='3')
      | 3 slices
    label
      input(type='radio', name='slices', value='4')
      | 4 slices
  h3 Select what toppings you like and don't
  .toppings
    ul.list
      li
        span Meats
      - each meat in toppings.meats
        li
          input(type='radio', name=meat.c, id=meat.c+'-yes', value=1).yes
          input(type='radio', name=meat.c, id=meat.c+'-no', value=-1).no
          label.yes(for=meat.c+'-yes')
            i.icon-ok
          label.no(for=meat.c+'-no')
            i.icon-remove
          span=meat.n
    ul.list
      li
        span Vegetables
      - each vegetable in toppings.vegetables
        li
          input(type='radio', name=vegetable.c, id=vegetable.c+'-yes', value=1).yes
          input(type='radio', name=vegetable.c, id=vegetable.c+'-no', value=-1).no
          label.yes(for=vegetable.c+'-yes')
            i.icon-ok
          label.no(for=vegetable.c+'-no')
            i.icon-remove
          span=vegetable.n
    ul.list
      li
        span Specialty
      - each specialty in toppings.specialty
        li
          input(type='radio', name=specialty.c, id=specialty.c+'-yes', value=1).yes
          label.yes(for=specialty.c+'-yes')
            i.icon-ok
          span=specialty.n
  h3 All done?
  .btns.next
    i.icon-share-alt.icon-flip-vertical
    button.medium(data-target='post-results', type='button') Submit

mixin results
  h3 Results
  ul.totals
    li
      div
        strong 4
        h4 Voters
    li
      div
        strong 15
        h4 Slices
    li
      div
        strong=(Math.ceil(15/8))
        h4 Pizzas

  h3 Toppings
  .toppings
    ul.list.results
      li
        span.yes +3
        | Pepperoni
      li
        span.yes +2
        | Sausage
    ul.list.results
      li
        span.no -2
        | Pepperoni

  h3 We recommend ordering
  ul.recommend
    li
      span.count 1
      | large pizza with 
      span.topping pepperoni
    li 
      span.count 1
      | large pizza with 
      span.topping sausage